---
import Navbar from "../components/Navbar.jsx";
import Hero from "../components/Hero.jsx";
import Features from "../components/Features.jsx";
import FineWords from "../components/FineWords.jsx";
import Gallery from "../components/Gallery.jsx";
import Slider from "../components/Slider.jsx";
import Contact from "../components/Contact.jsx";
import Footer from "../components/Footer.jsx"
const pageTitle = "Astro Project";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/images/favicon.png" />
    <script src="https://kit.fontawesome.com/8e98a234d5.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width" /> 
    <meta name="generator" content={Astro.generator} />
    <style>
      html{
        scroll-behavior: smooth;
      }
    </style>
    <title>{pageTitle}</title>
  </head>
  <body class="overflow-x-hidden">
    <Navbar client:load />
    <Hero />
    <Features />
    <FineWords />
    <Gallery client:visible/>
    <Slider client:visible />
    <Contact />
    <Footer />
  </body>
</html>
